<form id="movie_add" name="movie_add" class="input-group" method="post">
    {% csrf_token %}
    <input type="text" class="input-field" placeholder="Movie Name" id="movie_name" required>
    <input type="text" class="input-field" placeholder="Description" id="Description" required>
    <input type="text" class="input-field" placeholder="Genres" id="Genres" required>
    <input type="text" class="input-field" placeholder="Movie Name" id="Scheduled_dates" required>
        {% for message in messages %}
        <p class="error-message" id="error">{{ message }}</p>
        {% endfor %}
    <button type="Submit" class="submit-btn" name="add-movie">add-movie</button>
</form>
